@media (max-width: 500px) {
  body {
    background-position-y: 10%;
  }

  .container {
    height: auto;
  }

  .container--tipper {
    flex-direction: column;
    margin-top: 50%;
    width: 100%;

    padding: 10%;
    border-radius: 24px;
  }

  .container--tips__amounts {
    margin: 5% 0 10% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .container--bill__input::before {
    margin: 5%;
  }
  .container--people__input::before {
    margin: 10% 5%;
  }

  .tip {
    font-size: 21px;
  }

  .attribution {
    margin-top: 10%;
  }
}
